node_modules
dist
cdk/cdk.out
cdk/node_modules
.git
.gitignore
.mise.toml.swp
mise.toml
screenshots
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
LICENSE
*.md
!public/prompts/**/*.md
.vscode
.idea
.DS_Store
*.log
